---
import "./inicio.css"; // Asegúrate de que la ruta sea correcta
import anime from "animejs/lib/anime.es.js";
---

<html>

  <body>
    <div class="container">
      <img src="images/Montañas.png" id="mountains" />
      <img src="images/Arboles.png" id="trees" />
      <h1 class="animacion">RESUMEN 2024</h1>

      <section class="contenedor-imagenes">
        <img class="animacion"src="images/LogoLabTecno.png" id="LabTecno" />
        <img class="animacion" src="images/Icono-arbu.png" id="Icono" />
        <p class="animacion">Arbu</p>
        <a class="animacion" id="click" >Click</a>
      </section>
      <script src="./script.js"></script>
    </div>
  </body>
</html>
